.sidebar{
    position:sticky;
    height: 90vh;
    top:20px;
    &__list{
        display:flex;
        flex-direction:column;
        gap:5px;
        justify-content:space-between;
        height:100%;
        &-item{
            list-style: none;
        }
    }
}